includes:
	- phpstan-baseline.neon

services:
    - Symplify\PHPStanRules\TypeAnalyzer\CallableTypeAnalyzer
rules:
    - Symplify\PHPStanRules\Rules\NoDynamicNameRule

parameters:
    phpVersion: 80200
    level: 5
    paths:
        - src
        - tests
        - docs/examples
    parallel:
        processTimeout: 300.0
    excludePaths:
        - 'tests/Fixtures/*'
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            # ignore Generator::UNDEFINED default value
            message: '#OpenApi\\Annotations#'
            identifier: property.defaultValue
        -
            # ignore unused example fixtures
            message: '#OpenApi\\Examples#'
            identifier: property.unused
        -
            # ignore assigning Generator::UNDEFINED as property value
        	message: '#Property OpenApi\\Annotations.*::\$.* does not accept string.#'
        	identifier: assign.propertyType

