parameters:
	ignoreErrors:
		-
			message: '#^Property OpenApi\\Annotations\\AbstractAnnotation\:\:\$x \(array\<string, mixed\>\) does not accept string\.$#'
			identifier: assign.propertyType
			count: 1
			path: docs/examples/processors/schema-query-parameter/SchemaQueryParameter.php

		-
			message: '#^Attribute class JetBrains\\PhpStorm\\ArrayShape does not exist\.$#'
			identifier: attribute.notFound
			count: 1
			path: docs/examples/specs/using-links/attributes/User.php

		-
			message: '#^Call to function method_exists\(\) with ReflectionProperty and ''isPromoted'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Analysers/AttributeAnnotationFactory.php

		-
			message: '#^Call to function method_exists\(\) with ReflectionClass\<object\> and ''isEnum'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Analysers/ReflectionAnalyser.php

		-
			message: '#^Trait OpenApi\\Analysers\\TypeResolverTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Analysers/TypeResolverTrait.php

		-
			message: '#^Call to function property_exists\(\) with OpenApi\\Annotations\\AbstractAnnotation and ''_context'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Annotations/AbstractAnnotation.php

		-
			message: '#^Variable \$name might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: src/Annotations/Components.php

		-
			message: '#^Variable \$type might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/Annotations/Components.php

		-
			message: '#^Property OpenApi\\Annotations\\Flow\:\:\$scopes \(array\) does not accept stdClass\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Annotations/Flow.php

		-
			message: '#^Strict comparison using \!\=\= between false and string will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Processors/AugmentParameters.php

		-
			message: '#^Strict comparison using \!\=\= between false and string will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Processors/AugmentProperties.php

		-
			message: '#^Property OpenApi\\Annotations\\Schema\:\:\$properties \(array\<OpenApi\\Annotations\\Property\>\) does not accept string\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Processors/AugmentSchemas.php

		-
			message: '#^Parameter \#1 \$annotation of method OpenApi\\Processors\\DocBlockDescriptions\:\:description\(\) expects OpenApi\\Annotations\\Operation\|OpenApi\\Annotations\\Parameter\|OpenApi\\Annotations\\Schema, OpenApi\\Annotations\\AbstractAnnotation given\.$#'
			identifier: argument.type
			count: 1
			path: src/Processors/DocBlockDescriptions.php

		-
			message: '#^Parameter \#1 \$annotation of method OpenApi\\Processors\\DocBlockDescriptions\:\:summaryAndDescription\(\) expects OpenApi\\Annotations\\Operation\|OpenApi\\Annotations\\Parameter\|OpenApi\\Annotations\\Schema, OpenApi\\Annotations\\AbstractAnnotation given\.$#'
			identifier: argument.type
			count: 1
			path: src/Processors/DocBlockDescriptions.php

		-
			message: '#^Strict comparison using \!\=\= between false and string will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: src/Processors/DocBlockDescriptions.php

		-
			message: '#^Property OpenApi\\Annotations\\Schema\:\:\$examples \(array\<OpenApi\\Annotations\\Examples\>\) does not accept string\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Processors/MergeJsonContent.php

		-
			message: '#^Property OpenApi\\Annotations\\Schema\:\:\$examples \(array\<OpenApi\\Annotations\\Examples\>\) does not accept string\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Processors/MergeXmlContent.php

		-
			message: '#^Call to function method_exists\(\) with ReflectionProperty and ''isPromoted'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/Type/LegacyTypeResolver.php

		-
			message: '#^Call to function method_exists\(\) with ReflectionProperty and ''isPromoted'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/Type/TypeInfoTypeResolver.php

		-
			message: '#^Parameter \#1 \$callback of function spl_autoload_register expects \(callable\(string\)\: void\)\|null, array\{Composer\\Autoload\\ClassLoader, ''findFile''\} given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Analysers/ComposerAutoloaderScannerTest.php

		-
			message: '#^Access to an undefined property OpenApi\\Analysers\\AnnotationFactoryInterface\:\:\$reflectors\.$#'
			identifier: property.notFound
			count: 2
			path: tests/Analysers/ReflectionAnalyserTest.php

		-
			message: '#^Access to an undefined property Reflector\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: tests/Analysers/ReflectionAnalyserTest.php

		-
			message: '#^Call to an undefined method ReflectionType\:\:getName\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Annotations/AttributesSyncTest.php

		-
			message: '#^Strict comparison using \!\=\= between false and string will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: tests/Processors/AugmentParametersTest.php

		-
			message: '#^Strict comparison using \!\=\= between false and string will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: tests/Processors/AugmentRefsTest.php

		-
			message: '#^Strict comparison using \!\=\= between false and string will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: tests/Processors/DocBlockDescriptionsTest.php
