parameters:
    level: 5
    paths:
        - src
        - tests
    parallel:
        processTimeout: 300.0
    ignoreErrors:
        - '#does not accept default value of type #'
    excludePaths:
        - 'tests/Fixtures/*'
