includes:
	- phpstan-baseline.neon

parameters:
    phpVersion: 80200
    level: 5
    paths:
        - src
        - tests
        - docs/examples
    parallel:
        processTimeout: 300.0
    excludePaths:
        - 'tests/Fixtures/*'
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#does not accept default value of type #'
        ## Examples
        - '#^Property [a-zA-Z0-9\\]+::\$[a-zA-Z]+ is unused.$#'
