<phpunit bootstrap="./tests/bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuite name="Swagger Library Test Suite">
        <directory>tests/SwaggerTests</directory>
    </testsuite>
    <logging>
        <!--<log type="coverage-text" target="php://stdout"-->
             <!--showUncoveredFiles="true"/>-->
        <!--<log type="coverage-html" target="/tmp/report" charset="UTF-8"-->
             <!--yui="true" highlight="false"-->
             <!--lowUpperBound="35" highLowerBound="70"/>-->
        <!--<log type="testdox-html" target="/tmp/testdox.html"/>-->
    </logging>
    <filter>
        <blacklist>
            <directory suffix=".php">./</directory>
        </blacklist>
        <whitelist>
            <directory suffix=".php">./library/Swagger</directory>
            <exclude>
                <directory suffix=".phtml">./</directory>
                <file>./tests/bootstrap.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
