<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false"
         colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true"
         convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/schema/9.3.xsd">
    <coverage>
        <include>
            <directory>src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Swagger PHP Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
