name: code-style

on:
  push:
    branches:
      - master
      - 5.x
  pull_request:
    branches:
      - master
      - 5.x

jobs:
  php-cs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        name: Checkout repository

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - uses: ramsey/composer-install@v3
        with:
          dependency-versions: 'highest'

      - name: Check Code Style
        run: composer lint
