name: security-checks

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  security-checker:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: true
      matrix:
        operating-system: [ ubuntu-latest ]
        php: [ '8.2', '8.3', '8.4', '8.5' ]
        dependencies: [ 'highest' ]

    name: PHP ${{ matrix.php }} on ${{ matrix.operating-system }} with ${{ matrix.dependencies }} dependencies

    steps:
      - uses: actions/checkout@v6
        name: Checkout repository

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}

      - name: Composer install
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: ${{ matrix.dependencies }}
          composer-options: ${{ matrix.composer-options }} --no-dev

      - name: Cache security checker dependencies
        uses: actions/cache@v4
        with:
          path: ~/.symfony/cache
          key: security-checker-db

      - uses: symfonycorp/security-checker-action@v5
